@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Fira+Code:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", "Merriweather", serif;
  --font-sans: "Plus Jakarta Sans", "DM Sans", sans-serif;
  --font-mono: "Fira Code", monospace;
  
  --color-brand-green: #013220;
  --color-brand-emerald-light: #0d4632;
  --color-brand-cream: #FAF8F5;
  --color-brand-gold: #CDA052;
  --color-brand-gold-light: #dfb974;
  --color-brand-charcoal: #2E3330;
  --color-brand-muted: #6e7571;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-brand-cream);
  color: var(--color-brand-charcoal);
  margin: 0;
  padding: 0;
}
